<?xml version="1.0" encoding="iso-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>404 - myJobSeek</title>
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />
	</head>
	<body>

		<div id="content">

			<div id="title">
				<div>
					<a href="/"><h1>404 Page Not Found</h1></a>
				</div>
				<div style="text-align: right;">
						<a href="/">Return To Home Page</a>
				</div>
			</div>

			<div id="rightcol"></div>
			<div id="text">The page you requested could not be found. We are sorry.</div>

			<div id="footer">
				<a href="/aboutus/">About Us</a> -
				<a href="/faq/">Frequently Asked Questions</a> -
				<a href="/contact/">Contact Us</a>
				<br>
				<a href="/termsconditions/">Terms & Conditions</a> -
				<a href="/privacy/">Privacy</a> -
				<a href="http://twitter.com/myjobseek">Follow us on Twitter</a>
				<br>
				&copy;James Baster 2009
			</div>

	</div>

</body>
</html>
