{% extends "base.html" %}

{% block title %} About Us  {% endblock %}
{% block browserTitle %}About Us{% endblock %}

{% block content %}
	<p>
Whenever I job hunt I find it easy to get confused about all the jobs I've applied to. I need a system to keep track of them, and to track my tasks and appointments. So I wrote one. I also use it to hold details of all the letters I've previously written, which means that writing new letters becomes a copy and paste job. It is also handy for making a list of what I'd been doing over the past weeks, in case anyone asks.

	</p>
	<p>
		And now, I've written this up into a proper web application in the hope others will find it useful ...
	</p>
	<p>
		This is still at an early stage, and <a href="/contact/">any feedback</a> on how you stay organised when job hunting is greatly appreciated.
	</p>

{% endblock %}

{% block sidecontent %}
{% endblock %}


