<div>
<a name="c{{ communication.id }}"></a>
{{ communication.Note|urlize|linebreaks  }}<p>

{% if showlocation %}
	<em><a href="{{ communication.get_absolute_url }}"><img src="/static/view.png" alt="View" title="View this Letter or Email"></a>
	{% if communication.Job %}Job <a href="{{ communication.Job.get_absolute_url }}">{{ communication.Job.Title }}</a>{% endif %}
	{% if communication.getCompany %}With Company <a href="{{communication.getCompany.get_absolute_url }}">{{ communication.getCompany.Title }}</a>{% endif %}
	{% if communication.getAgency %}From Agency <a href="{{ communication.getAgency.get_absolute_url }}">{{ communication.getAgency.Title }}</a>{% endif %}
	</em><br>
{% endif %}


<em>
	<a href="#" OnMouseOver='showNextElement(this)' OnMouseOut='hideNextElement(this)'><img src="/static/viewdetails.png" alt="View Details"></a>
	<span style="display: none;">
	Created {{ communication.Created|date }} {{ communication.Created|time }}
	{% ifequal communication.Created communication.LastEdited %}{% else %}
		Last Edited {{ communication.LastEdited|date }} {{ communication.LastEdited|time }}.
	{% endifequal %}
		</span>
	<a href="/communication/{{ communication.id }}/edit/"><img src="/static/edit.png" alt="Edit" title="Edit this Letter or Email"></a>
	{% if not showlocation and communication.Job and not job %}
	Job <a href="{{ communication.Job.get_absolute_url }}">{{ communication.Job.Title }}</a>.
	{% endif %}
</em>
</div>


