{% extends "base.html" %}
{% load childdata %}

{% block title %}Correspondence{% endblock %}
{% block browserTitle %}Correspondence{% endblock %}

{% block content %}
	{% if paginator.count  %}
		{% for thing in page.object_list %}
			{% show_common_data thing showlocation %}
		{% endfor %}
		{% if page.has_other_pages %}
			<div class="pagenumbers">
				{% if page.has_previous %}<a href="/correspondence/p{{ page.previous_page_number }}/">Prev</a> - {% endif %}
				Page {{ page.number }} of {{ paginator.num_pages }}
				{% if page.has_next %} - <a href="/correspondence/p{{ page.next_page_number }}/">Next</a>{% endif %}
			</div>
		{% endif %}
	{% else %}
		You do not have any correspondence.
		<div class="newuserguide">
			If you add an email or a letter to a Job, Agency or Company it will show up here.
		</div>
	{% endif %}
{% endblock %}

{% block sidecontent %}
{% endblock %}