{% extends "base.html" %}

{% block title %} Privacy  {% endblock %}
{% block browserTitle %}Privacy{% endblock %}

{% block content %}

<p>We take your private data very seriously. We promise never to sell or pass your private data directly to third parties.
However, from time to Time, we may group anonymous data from many people to generate stastics or data for various purposes,
but it will always be impossible to identify you or any individual bit of data about you from these statistics.</p>

<p>This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”).
Google Analytics uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site.</p>

<p>For more information, please read our <a href="/termsconditions/">Terms & Conditions</a>.</p>

{% endblock %}

{% block sidecontent %}
{% endblock %}


