{% extends "base.html" %}

{% block title %} Terms & Conditions  {% endblock %}
{% block browserTitle %} Terms & Conditions{% endblock %}

{% block content %}

<p>By using myJobSeek you agree to be bound by these terms, which shall take effect immediately on your first use of myJobSeek.
If you do not agree to be bound by all of the following terms please do not access, use and/or contribute to myJobSeek.</p>

<p>myJobSeek may change these terms from time to time and so you should check these terms regularly. Your continued use of myJobSeek
will be deemed acceptance of the updated or amended terms. If you do not agree to the changes, you should cease using this website.</p>

<strong>Private Data</strong>

<p>myJobSeek promises never to share with third parties the data you submit in private areas of the website. However, you agree to
give myJobSeek permission to group anonymous data from many people together to generate statistics or data for various purposes.</p>

<strong>Public areas of the website</strong>

<p>Your myJobSeek login may also be used to post public comments on our blogs and forums. Copyright in your contribution to these areas
will remain with you and
this permission is not exclusive, so you can continue to use the material in any way including allowing others to use it. In order that
myJobSeek can use your contribution, you confirm that your contribution is your own original work, is not defamatory and does not infringe
any UK laws, that you have the right to give myJobSeek permission to use it for the purposes specified above, and that you have the consent
of anyone who is identifiable in your contribution or the consent of their parent / guardian if they are under 16.
By sharing any contribution (including any text, photographs, graphics, video or audio) with myJobSeek you agree to grant to myJobSeek,
free of charge, permission to use the material in any way it wants (including modifying and adapting it for operational and editorial reasons)
for myJobSeek services in any media worldwide. In certain circumstance myJobSeek may also share your contribution with trusted third parties.</p>

<strong>Your right to use our services</strong>

<p>If you use multiple logins for the purpose of disrupting a service or annoying other users you may have action taken against all of your
accounts. All accounts must be registered with a valid personal email address that you access regularly so that moderation emails can be sent
to you. Accounts registered with someone else's email address, or with temporary email addresses may be closed without notice. We may require
users to re-validate their account if we believe they have been using an invalid email address.</p>

<p>myJobSeek reserves the right to close accounts if any user is seen to be using proxy IPs (Internet Protocol addresses) in order to attempt to
hide the use of multiple myJobSeek accounts, or disrupts any of our services in any way.</p>


<strong>Provision of services</strong>

<p>myJobSeek content, its products and services, is provided "AS IS" and on an "AS AVAILABLE" basis. To the extent permitted by law,
myJobSeek excludes all representations and warranties (whether express or implied by law), including the implied warranties of
satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
MyJobSeek does not guarantee the timeliness, completeness or performance of the website or any of the content. While we try to ensure
that all content provided by the MyJobSeek is correct at the time of publication no responsibility is accepted by or on behalf of MyJobSeek
 for any errors, omissions or inaccurate content on the website.

<p>MyJobSeek does not warrant that functions available on myJobSeek will be uninterrupted or error free, that defects will be corrected,
or that MyJobSeek or the server that makes it available are free of viruses or bugs. You acknowledge that it is your responsibility to
implement sufficient procedures and virus checks (including anti-virus and other security checks) to satisfy your particular requirements
for the accuracy of data input and output.</p>

<strong>Liability</strong>

<p>You agree to indemnify and hold myJobSeek, its subsidiaries, and affiliates, and their respective officers, agents,
partners and employees, harmless from any loss, liability, demand, claim or legal proceedings brought or threatened,
including expenses of any character suffered or incurred arising out of your use of the Website or the Services in violation of
this Agreement, and/or arising from your use of or conduct on the Website or in use of the Services and/or a breach of this Agreement.</p>

<strong>Google Analytics</strong>

<p>This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”).
Google Analytics uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site.
The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored
by Google on servers in the United States . Google will use this information for the purpose of evaluating your use of the website,
compiling reports on website activity for website operators and providing other services relating to website activity and internet usage.
Google may also transfer this information to third parties where required to do so by law, or where such third parties process the
information on Google's behalf. Google will not associate your IP address with any other data held by Google.  You may refuse the use
of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use
the full functionality of this website.  By using this website, you consent to the processing of data about you by Google in the manner
and for the purposes set out above.</p>

{% endblock %}

{% block sidecontent %}
{% endblock %}


